.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
}
.location{
    display: flex;
    align-items: center;
    height: 80%;
    margin-right: 3px;
    padding-right: 9px;
    cursor: pointer;
}
.location:hover{
    outline: 1px solid #fff;
    border-radius: 2px;
}
.location_icon{
    color:#fff;
}
.location_text{
    font-size: 14px;
    margin-left: 2px;
    font-weight: 700;
    color:#fff;
}
.location_text span{
    font-size: 12px;
    font-weight: 400;
    color: #cccccc;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    padding-top: 10px;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 3px 0 0 3px;
}
.search_icon{
    padding: 5px;
    height: 22px !important;
    border-radius: 0 3px 3px 0;
    background-color: var(--yellow);
    color: rgb(59,59,59);
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 8px;
    height: 100%;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.optionOne{
    font-size: 10px;
}
.optionTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_basket{
    display: flex;
    align-items: center;
    color: white;
    padding:0 8px
}
.header_basketCount{
    margin-left: 4px;
}
.header a {
    border:none !important;
    text-decoration: none;
    height: 80%;
    display: flex;
    align-items: center;
}
.header a:hover{
    outline: 1px solid white;
    border-radius: 2px;
}